.modal-header {
  border-bottom: none;
}

.modal-footer {
  border-top: none;
}

.items {
  font-style: italic;
  list-style-type: circle;

  li {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
}
